<h1>Resumes</h1>

<!-- <a href="/resumes/new">新增履歷</a> -->
<!-- <a href="<%= new_resume_path %>">新增履歷</a>  小幫手改名as的方法 -->

<%= link_to "新增履歷", new_resume_path %>
<%= link_to "新增履歷", "/resumes/new" %>

<!-- # 第四行和第七行都只寫一半，較優的方式第六行 -->
<!-- 
<ul>
<%= @resumes.each do |resume| %>
    <li>
        <%= resume.title %>
    </li>
<% end %>
</ul> -->